<div class="row">
  <nz-divider nzText="Datos personales"></nz-divider>
  <div class="col-4 d-flex align-items-center justify-content-center">
    <!-- <img
      nz-image
      width="300px"
      height="300px"
      nzSrc="https://pbs.twimg.com/profile_images/1750974116289544192/yQuFQxnQ_400x400.jpg"
      alt=""
    /> -->
    <nz-upload
      class="avatar-uploader"
      nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
      nzName="avatar"
      nzListType="picture-card"
      [nzShowUploadList]="false"
    >
      <ng-container >
        <!-- <span
          class="upload-icon"
          nz-icon
          nzType="loading ? 'loading' : 'plus'"
        ></span> -->
        <div class="ant-upload-text">Cargar Foto</div>
      </ng-container>
      <!-- <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" /> -->
    </nz-upload>
  </div>
  <div class="col-8">
    <form [formGroup]="formPerfil">
    <div class="row">
        <div class="col-6">
          <nz-form-item>
            <nz-form-label nzFor="nombre">Nombre</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nz-input name="nombre" type="text" formControlName="nombre"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label nzFor="apellido">Apellido</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nz-input name="apellido" type="text" formControlName="apellido"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label nzFor="telefono">Telefono</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nz-input name="telefono" type="text" formControlName="telefono"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label nzFor="domicilio">Domicilio</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nz-input name="domicilio" type="text" formControlName="domicilio"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label nzFor="email">Email</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nz-input name="email" type="email"  formControlName="email"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label nzFor="nombreContactoEmergencia"
              >Nombre contacto de emergencia</nz-form-label
            >
            <nz-form-control [nzSpan]="24">
              <input nz-input name="nombreContactoEmergencia" type="text" formControlName="nombreContactoEmergencia"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label nzFor="contactoEmergencia"
              >Telefono contacto de emergencia</nz-form-label
            >
            <nz-form-control [nzSpan]="24">
              <input nz-input name="contactoEmergencia" type="text" formControlName="contactoEmergencia"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center">
          <button nz-button nzSize="large" nzType="primary" (click)="guardarDatosPerfil()">Guardar datos</button>
        </div>
      </div>
    </form>
    </div>
</div>
<div class="row">
  <nz-divider nzText="Mis mascotas"></nz-divider>
  <div class="d-flex justify-content-center">
    @for (m of mascotas; track m._id) {
      <app-card-mascota [mascota]="m"></app-card-mascota>
    }
    <!-- card para agregar -->
    <nz-card
      style="width: 300px; height: 365px; margin-top: 15px; border-radius: 20px"
      [nzBodyStyle]="{
        height: '100%',
        border: '1px dashed orange',
        'border-radius': '20px'
      }"
    >
      <div
        class="row justify-content-center align-items-center"
        style="height: 100%"
      >
        <button class="add-button" (click)="showModal()">
          <span nz-icon nzType="plus" nzTheme="outline"></span>
        </button>
      </div>
    </nz-card>
  </div>
</div>
<app-nueva-mascota></app-nueva-mascota>

<!-- <nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Nueva mascota"
  nzWidth="700px"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
  </ng-container>
</nz-modal> -->
