@if(!isCuidadorPendiente) {
  @if(!loadingPerfil) {
    <h2 class="text-center">Perfil</h2>
    <div class="row">
      <nz-divider nzText="Datos personales"></nz-divider>
      <div class="col-12 col-md-4 d-flex flex-column align-items-center justify-content-center">
        <img nz-image width="150px" height="150px" [nzSrc]="urlPerfil" alt=""/>
        <nz-upload nzAction="{{url}}" (nzChange)="uploadFotoPerfil($event)" [nzFileType]="'image/png,image/jpeg'" [nzShowUploadList]="false">
          <button nz-button class="mt-4 w-100">
            <span nz-icon nzType="upload"></span>
            Cargar foto
          </button>
        </nz-upload>
      </div>
      <div class="col-12 col-md-8">
        <form [formGroup]="isCliente ? formPerfilCliente : formPerfilCuidador">
          <div class="row">
            <div class="col-12 col-sm-6">
              <nz-form-item>
                <nz-form-label nzFor="nombre">Nombre</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input name="nombre" type="text" formControlName="nombre" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-12 col-sm-6">
              <nz-form-item>
                <nz-form-label nzFor="apellido">Apellido</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input name="apellido" type="text" formControlName="apellido" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-12 col-sm-6">
              <nz-form-item>
                <nz-form-label nzFor="telefono">Teléfono</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input name="telefono" type="text" formControlName="telefono" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-12 col-sm-6">
              <nz-form-item>
                <nz-form-label nzFor="domicilio">Domicilio</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input name="domicilio" type="text" formControlName="domicilio" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div class="col-12">
              <nz-form-item>
                <nz-form-label nzFor="email">Email</nz-form-label>
                <nz-form-control [nzSpan]="24">
                  <input nz-input name="email" type="email" formControlName="email" />
                </nz-form-control>
              </nz-form-item>
            </div>
            @if(isCliente) {
              <div class="col-12 col-sm-6">
                <nz-form-item>
                  <nz-form-label nzFor="nombreContactoEmergencia">Nombre contacto de emergencia</nz-form-label>
                  <nz-form-control [nzSpan]="24">
                    <input nz-input name="nombreContactoEmergencia" type="text" formControlName="nombreContactoEmergencia" />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-12 col-sm-6">
                <nz-form-item>
                  <nz-form-label nzFor="contactoEmergencia">Teléfono contacto de emergencia</nz-form-label>
                  <nz-form-control [nzSpan]="24">
                    <input nz-input name="contactoEmergencia" type="text" formControlName="contactoEmergencia" />
                  </nz-form-control>
                </nz-form-item>
              </div>
            }
            @if(!isCliente && !isAdmin) {
              <div class="col-12 col-sm-6">
                <nz-form-item>
                  <nz-form-label nzFor="descripcionPersonal">Descripción personal</nz-form-label>
                  <nz-form-control [nzSpan]="24">
                    <input nz-input name="descripcionPersonal" type="text" formControlName="descripcionPersonal" />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div class="col-12 col-sm-6">
                <nz-form-item>
                  <nz-form-label nzFor="tarifaHora">Tarifa hora</nz-form-label>
                  <nz-form-control [nzSpan]="24">
                    <input nz-input name="tarifaHora" type="text" formControlName="tarifaHora" />
                  </nz-form-control>
                </nz-form-item>
              </div>
            }
          </div>
          <div class="row d-flex justify-content-center">
              <div class="col-12 col-lg-6 col-xl-g col-xxl-6 d-flex justify-content-center">
                <button nz-button nzSize="large" nzType="primary" (click)="actualizarDatosPerfil()">
                  Guardar datos
                </button>
              </div>
          </div>
        </form>
      </div>
    </div>
  } @else {
    <nz-spin [nzSize]="'large'"></nz-spin>
  }
  @if(isCliente) {
    @if(!loadingMascotas) {
      <div class="container">
        <nz-divider nzText="Mis mascotas"></nz-divider>
        <div class="row justify-content-center">
          <div class="col-12 col-md-10">
            @if (isMobile) {
              <!-- Botón para agregar mascota en vista móvil -->
              <div class="row d-flex justify-content-center">
                <div class="col-12 col-lg-6 col-xl-6 col-xxl-6 mb-3">
                  <button nz-button nzType="primary" nzBlock (click)="showModal()">
                    <span nz-icon nzType="plus"></span> Agregar mascota
                  </button>
                </div>
              </div>
            }
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 justify-content-center">
              <!-- Tarjetas de mascotas -->
              @for (m of mascotas; track m._id) {
                <div class="col d-flex justify-content-center">
                  <app-card-mascota [mascota]="m" (recargarMascotas)="recargarMascotas()"></app-card-mascota>
                </div>
              }

              @if (!isMobile) {
                <!-- Botón para agregar mascota en vista web -->
                <div class="col d-flex justify-content-center">
                  <nz-card
                    class="card-agregar"
                    [nzBodyStyle]="{ height: '100%', border: '1px dashed orange', 'border-radius': '20px' }"
                  >
                    <div class="d-flex justify-content-center align-items-center" style="height: 100%">
                      <button class="add-button" (click)="showModal()">
                        <span nz-icon nzType="plus" nzTheme="outline"></span>
                      </button>
                    </div>
                  </nz-card>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
      <app-nueva-mascota (recargarMascotas)="recargarMascotas()"></app-nueva-mascota>
    } @else {
      <nz-spin [nzSize]="'large'"></nz-spin>
    }
  }
} @else {
  <h2>Aun no ha sido aprobado por un administrador!</h2>
}
