@if (userIsLogged()) {
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer mode="side" [opened]="true">
      <div class="menu-items">
        <div class="logo mt-4">
          <img src="../assets/logo2.png" alt="logo" />
        </div>
        <nav>
          <ul>
            <li>
              <button mat-button class="sidenav-item" routerLink="/dashboard">
                <div>
                  <span nz-icon nzType="home" nzTheme="outline" class="nz-icon"></span>
                </div>
                <div>
                  <span>Inicio</span>
                </div>
              </button>
            </li>
            <li>
              <button mat-button class="sidenav-item" routerLink="/perfil">
                <div>
                  <span nz-icon nzType="user" nzTheme="outline" class="nz-icon"></span>
                </div>
                <div>
                  <span>Perfil</span>
                </div>
              </button>
            </li>
            <li>
              <button mat-button class="sidenav-item" routerLink="/reservas">
                <div>
                  <span nz-icon nzType="book" nzTheme="outline"  class="nz-icon"></span>
                </div>
                <div>
                  <span>Tus reservas</span>
                </div>
              </button>
            </li>
            <li>
              <button mat-button class="sidenav-item" routerLink="/cuidadores">
                <div>
                  <span nz-icon nzType="home" nzTheme="outline" class="nz-icon"></span>
                </div>
                <div>
                  <span>Cuidadores</span>
                </div>
              </button>
            </li>
            <li>
              <button mat-button class="sidenav-item" routerLink="/login">
                <div>
                  <span nz-icon nzType="logout" nzTheme="outline" class="nz-icon"></span>
                </div>
                <div>
                  <span>Cerrar Sesion</span>
                </div>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="contenedor">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
}
@else {
  <app-login></app-login>
}


