<div class="turno-cuidador-container">
  <h2 nz-typography>Cargar Turnos Disponibles</h2>
  <div nz-row [nzGutter]="16">
    <div class="col col-12 col-lg-8 col-xxl-8">
      <nz-calendar
        [(ngModel)]="date"
        (nzSelectChange)="onDateSelect($event)"
        (nzValueChange)="onMonthChange($event)"
        [nzDisabledDate]="disabledDate"
      >
      <ng-container *nzDateCell="let date">
        <div [innerHTML]="dateCellRender(date)"></div>
      </ng-container>
    </nz-calendar>
    </div>
      <div class="col col-12 col-lg-3 col-xxl-3" style="margin-left: 30px;">
        <h3 nz-typography>Turnos para {{ date | date:'dd/MM/yyyy' }}</h3>
        <nz-list [nzDataSource]="turnosDisponibles" [nzRenderItem]="turnoTemplate" [nzNoResult]="'Seleccione una fecha mayor a la actual'">
          <ng-template #turnoTemplate let-turno>
            <nz-list-item>
              <label nz-checkbox [(ngModel)]="turno.selected"> {{ turno.hora }}:00 - {{ turno.hora + 1 }}:00</label>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </div>
  </div>
  <div nz-row [nzJustify]="'end'" class="mt-4">
    <button nz-button nzType="primary" (click)="guardarTurnos()">Guardar Turnos</button>
  </div>
</div>
