.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
[nz-form] {
  max-width: 600px;
}
.turnos-dia {
  font-size: 15px;
}

@media (max-width: 800px) {
  .turnos-dia {
    font-size: 5px;
  }
}
