<div>
  <div class="row row-cols-auto">
    <div class="col">
      <app-card-cuidador></app-card-cuidador>
    </div>
    <div class="col">
      <app-card-cuidador></app-card-cuidador>
    </div>
    <div class="col">
      <app-card-cuidador></app-card-cuidador>
    </div>
    <div class="col">
      <app-card-cuidador></app-card-cuidador>
    </div>
    <div class="col">
      <app-card-cuidador></app-card-cuidador>
    </div>
    <div class="col">
      <app-card-cuidador></app-card-cuidador>
    </div>
    <div class="col">
      <app-card-cuidador></app-card-cuidador>
    </div>
    <div class="col">
      <app-card-cuidador></app-card-cuidador>
    </div>
  </div>
</div>
