<div class="row">
  <h2>
    Tus reservas
  </h2>
  <div class="mt-4">
    <nz-table [nzData]="reservas">
      <thead>
        <tr>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
          <th>Estado</th>
          <th>Cuidador</th>
          <th>Mascotas</th>
          <th>Precio</th>
          <th>Puntuacion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (reserva of reservas; track reserva.id) {
          <tr>
            <td>{{reserva.fechaInicio}}</td>
            <td>{{reserva.fechaFin}}</td>
            <td>{{reserva.estado}}</td>
            <td>{{reserva.cuidador}}</td>
            <td>{{reserva.mascotas}}</td>
            <td>${{reserva.precio}}</td>
            <td>
              {{reserva.puntuacion}}
              <span nz-icon nzType="star" nzTheme="outline"></span>
            </td>
            <td class="text-center">
              <button nz-button nzType="default" nzDanger>Cancelar</button>
            </td>
          </tr>
        }
      </tbody>
    </nz-table>
  </div>
</div>
