
  <nz-page-header>
    <nz-page-header-title>Tus mascotas </nz-page-header-title>
    <nz-page-header-extra>
      <nz-space>
        <button *nzSpaceItem nz-button nzSize="large" nzType="primary">
          <a routerLink="nueva">Agregar mascota</a>
        </button>
      </nz-space>
    </nz-page-header-extra>
  </nz-page-header>
  <div class="row row-cols-auto">
    <div class="col">
      <app-card-mascota></app-card-mascota>
    </div>
    <div class="col">
      <app-card-mascota></app-card-mascota>
    </div>
    <div class="col">
      <app-card-mascota></app-card-mascota>
    </div>
    <div class="col">
      <app-card-mascota></app-card-mascota>
    </div>
    <div class="col">
      <app-card-mascota></app-card-mascota>
    </div>
    <div class="col">
      <app-card-mascota></app-card-mascota>
    </div>
    <div class="col">
      <app-card-mascota></app-card-mascota>
    </div>
    <div class="col">
      <app-card-mascota></app-card-mascota>
    </div>
  </div>

