.filters {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 24px;
}

.status-filter {
  display: flex;
  gap: 8px;
  align-items: center;
}

nz-input-group {
  width: 200px;
}

.second-row {
  font-size: 14px;
  th {
    padding: 10px;
  }
}
