<h2>Informe de Cuidadores</h2>

<nz-divider></nz-divider>

<app-stats-cuidadores [estadisticas]="estadisticas"></app-stats-cuidadores>

<nz-divider></nz-divider>

<div class="filters">
  <nz-input-group [nzSuffix]="suffixIconSearch">
    <input
      type="text"
      nz-input
      placeholder="Buscar"
      [(ngModel)]="searchValue"
    />
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <span nz-icon nzType="search"></span>
  </ng-template>

  <div class="status-filter">
    <span>Filtrar por estado</span>
    <nz-select [(ngModel)]="selectedStatus" style="width: 120px">
      <nz-option nzValue="Habilitado" nzLabel="Habilitado"></nz-option>
      <nz-option nzValue="No Habilitado" nzLabel="No Habilitado"></nz-option>
      <nz-option nzValue="Pendiente" nzLabel="Pendiente"></nz-option>
    </nz-select>
  </div>

  <button nz-button nzType="primary" (click)="getInformes()">FILTRAR</button>
</div>

@if(loading) {
  <div class="mt-4 mb-4">
    <nz-spin [nzSize]="'large'"></nz-spin>
  </div>
} @else {
  <div class="table-responsive">
    <nz-table #basicTable [nzData]="listCuidadores">
      <thead>
        <tr>
          <th nzWidth="50px"></th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Estado</th>
          <th>Tarifa</th>
          <th>Promedio Puntuación</th>
        </tr>
      </thead>
      <tbody>
        @for (data of basicTable.data; track $index) {
        <tr>
          @if(data.estado === 'Habilitado') {
            <td style="padding: 8px;"
              [nzExpand]="expandSet.has(data._id)"
              (nzExpandChange)="onExpandChange(data._id, $event)"
            ></td>
          } @else {
            <td style="padding: 8px;"></td>
          }
          <td>{{ data.nombre }} {{ data.apellido }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.telefono }}</td>
          <td>{{ data.estado }}</td>
          <td>{{ data.tarifaHora }}</td>
          <td>{{ data.promedioPuntuacion }}</td>
        </tr>
        <tr [nzExpand]="expandSet.has(data._id)">
          @if(data.estado === 'Habilitado') {
              <tr class="second-row">
                <th></th>
                <th>Cantidad de reservas:  {{ data.reservasTotales }}</th>
                <th>Reservas pendientes:  {{ data.reservasPendientes }}</th>
                <th>Reservas aprobadas:  {{ data.reservasAprobadas }}</th>
                <th>Reservas no aprobadas:  {{ data.reservasNoAprobadas }}</th>
                <th>Reservas canceladas:  {{ data.reservasCanceladas }}</th>
                <th>Reservas finalizadas:  {{ data.reservasFinalizadas }}</th>
              </tr>
          }
        </tr>
        }
      </tbody>
    </nz-table>
  </div>
}
