<nz-card style="width:300px;" class="m-3" [nzCover]="coverTemplate">
  <nz-card-meta
        nzTitle="Nala"
        nzDescription="Tipo de Mascota: Gato"
      ></nz-card-meta>
      <div class="row justify-content-center mt-3">
      <button nz-button nzType="primary" [nzSize]="'large'" class="buttons">
        <span nz-icon nzType="edit" nzTheme="outline"></span>
      </button>
      <button nz-button nzType="primary" [nzSize]="'large'" class="buttons">
        <span nz-icon nzType="delete" nzTheme="outline"></span>
      </button>
    </div>
</nz-card>
<ng-template #coverTemplate>
  <img
    nz-image
    width="200px"
    height="200px"
    nzSrc="https://www.thesprucepets.com/thmb/TU314sIYpY5NNX0trZmLBpbflb4=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/persian-cats-gallery-4121944-hero-f5c237b8c6404655afb1e1bbae219ba5.jpg"
    alt=""
  />
</ng-template>
