<nz-sider class="menu-sidebar"
    nzTheme="light"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Pet Guardian</h1>
      </a>
    </div>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Datos" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/perfil">Perfil</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/mascotas">Mascotas</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/cuidadores">Cuidadores</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <div (click)="cerrarSesion()">Cerrar sesion</div>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
